<br>
<div class="container">


<h1><strong>New Pet</strong></h1>

<%= render 'form', pet: @pet %>
<br>
<button type="button" class="btn btn-outline-primary">
<%= link_to 'Back', pets_path %>
</button>


</div>
