<div class="container">
    <br>
    <br>
    <h1><strong>New Pethistory</strong></h1>
    <br>
    <br>
    <%= render 'form', pethistory: @pethistory %>
    <br>
    <br>
    <button type="button" class="btn btn-outline-primary">
        <%= link_to 'Back', pethistories_path %>
    </button>
    <br>
</div>