<br>
<br>
<br>
<div class="container">
    <h1><strong>Editing Client</strong></h1>
    <%= render 'form', client: @client %>
    <br>
    <%= link_to 'Show', @client %> |
    <%= link_to 'Back', clients_path %>
    <br>
    <br>
    <br>

</div>