<br>
<br>
<div class="container">
<h1><strong>New Client</strong></h1>
<br>
<br>
<%= render 'form', client: @client %>
<br>
<br>
<button type="button" class="btn btn-outline-primary">
<%= link_to 'Back', clients_path %>
</button>
<br>
<br>
</div>


