<br>
<br>
<br>
 <div class="steps">
    <div class="text-center bg-transparent">
        <h1><strong>STEPS</strong></h1>
        <br>
        <br>

        <h4><strong>1-</strong> Register your name</h4>
        
        <h4><strong>2-</strong> Add the pet name</h4>
        
        <h4><strong>3-</strong> Create the medical record</h4>
        <br>
        <br>
        <button type="button" class="btn btn-outline-primary">
             <%= link_to 'Lets Go!', new_client_path %>
        </button>
    </div>
 </div>